<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Ask a question</h1>
        <div class="buttons">
            <button class="button button-calm button-clear" ng-click="closeQuestionModal()">Close</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="askQuestion()">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <textarea placeholder="write your question..." rows="8" cols="10" ng-model="questionData.question"></textarea>
                </label>
                <label class="item">
                    <button class="button button-block button-calm" type="submit">Send</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
