<ion-view view-title="Event info">
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="https://images-workbench.99static.com/kAp9oHRwOkNmMXcXdoqejktukGU=/128x128/filters:fill(auto)/99designs-profiles/avatars/1978921/efa48fd3-a3c8-42d8-8f77-257ec0304996.gif">
                <h2>Open event</h2>
                <p>November 05, 2016</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSBHS4nGejT0EjRYqBKtF0fhUeh4mvyYX2NQJWvhmgYrzXD8GA-">
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
                    the content is from a card-body consisting of an image and paragraph text. The footer
                    consists of tabs, icons aligned left, within the card-footer.
                </p>
                <p>
                    <a href="#" class="subdued">10 Speakers</a>
                    <a href="#" class="subdued">8 Sessions</a>
                </p>
            </div>

        </div>
    </ion-content>
</ion-view>
