<ion-view view-title="Event info">
    <ion-content>
        <img class="full-image" src="img/demo/event-image.jpg" alt="">
        <div class="list card">
            <div class="item item-avatar item-stable">
                <img src="img/demo/event-logo.png" alt="">
                <h2>Web Development Conference</h2>
                <p>Sat 20 - Sun 21 May 2017</p>
            </div>
            <div class="item item-body">
                <img src="https://maps.googleapis.com/maps/api/staticmap?size=320x140&scale=2&zoom=15&maptype=roadmap\
                  &markers=color:red%7Clabel:E%7C40.625082,22.950552" class="full-image">
                <p>
                    Each year we meticulously vet and select remarkable speakers to deliver the best talks on web 
                    development. Whether it's Frontend, Backend, DevOps or Mobile that you care about, join us to 
                    learn about the most modern practices and techniques. A truly 360° conference!
                </p>
                <p>
                    <a href="#" class="subdued calm">14 Speakers</a>
                    <a href="#" class="subdued calm">2 Tracks</a>
                </p>
            </div>
        </div>
        
        <div class="list card">
            <div class="item item-stable item-icon-left">
                <i class="icon ion-ios-heart-outline"></i>
                <h2>Our sponsors</h2>
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/demo/sponsor1.png" alt="">
                <h2>Github: Platinum sponsor</h2>
                <p>Fosters a fast, flexible, and collaborative development process</p>
            </div>
            <div class="item item-thumbnail-left item-text-wrap">
                <img src="img/demo/sponsor2.png" alt="">
                <h2>Skroutz: Premium sponsor</h2>
                <p>Σύγκρινε τιμές σε πάνω από 2150 καταστήματα εύκολα στο Skroutz.gr</p>
            </div>
        </div>
        
        
    </ion-content>
</ion-view>
