<ion-view view-title="Questions">
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-ios-plus-outline button-clear button-calm" 
                ng-click="openQuestionModal()"
                ng-if="isUserLoggedIn()"></button>
    </ion-nav-buttons>
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="query">
        </label>
        <i class="button button-clear ion-close-circled" role="button" 
           ng-click="resetSearch()"
           ng-if="query"></i>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card">
            <div class="item item-icon-left item-text-wrap">
                <i class="icon ion-ios-albums-outline calm"></i>
                {{sessionTitle()}}
            </div>
        </div>
        <ion-list>
            <ion-item class="item-text-wrap item-icon-left"
                ng-repeat="question in questions | filter:query | orderBy: '-created_at'">
                <i class="icon ion-ios-help-outline" ng-class="{ 'balanced': question.status == 20, 'assertive': question.status == 10 }"></i>
                <h2>{{question.user_name}}</h2>
                <p>{{question.created_at * 1000 | date:'MMM dd, yyyy HH:mm'}}</p>
                <p>{{question.question}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
