<ion-view view-title="Questions">
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="query">
        </label>
        <i class="button button-clear ion-close-circled" role="button" 
           ng-click="resetSearch()"
           ng-if="query"></i>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-icon-right item-text-wrap"
                ng-repeat="question in questions | filter:query" 
                ng-href="#/app/questions/{{question.id}}">
                <h2>{{question.title}}</h2>
                <p>{{question.question}}</p>
                <i class="icon ion-ios-arrow-right"></i>
                <div class="clearfix"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
