<ion-view view-title="Question">
    <ion-content>
        <div class="list card" ng-repeat="question in questions | filter:{id:questionId}">
            <div class="item item-icon-left" style="background-color: #F8F8F8;">
                <i class="icon ion-ios-person-outline"></i>
                <h2>{{question.user_name}}</h2>
                <p>
                    {{question.created_at * 1000 | date:'MMM dd, yyyy HH:mm'}} 
                </p> 
            </div>
            <div class="item item-body">
                <p>{{question.question}}</p>
            </div>
        </div>
    </ion-content>
</ion-view>
