<ion-view view-title="Session">
    <ion-content>
        <div class="list card" ng-repeat="session in sessions | filter:{id:sessionId}">
            <div class="item item-avatar" style="background-color: #F8F8F8;">
                <img ng-src="{{getImage(session.speaker_id)}}" err-src="img/avatar.png" alt="">
                <h2>{{session.speaker_name}}</h2>
                <p>
                    {{session.starts * 1000 | date:'MMM dd, yyyy'}} 
                    {{session.starts * 1000 | date:'HH:mm'}} - {{session.ends * 1000 | date:'HH:mm'}}
                </p> 
            </div>
            <div class="item item-body">
                <h2>{{session.title}}</h2>
                <p>{{session.description}}</p>
                <p class="text-right">
                    <a ng-href="#/app/speakers/{{session.speaker_id}}" class="subdued calm">About speaker</a>
                </p>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="stable-bg">
        <a ng-href="#/app/sessions/{{sessionId}}/questions" 
           class="button button-clear button-calm icon ion-ios-help calm"> 
            See all questions
        </a>
    </ion-footer-bar>
</ion-view>
