<ion-view view-title="Sessions">
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="query">
        </label>
        <i class="button button-clear ion-close-circled" role="button" 
           ng-click="resetSearch()"
           ng-if="query"></i>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item class="item-icon-right item-text-wrap"
                ng-repeat="session in sessions | filter:query" 
                ng-href="#/app/sessions/{{session.id}}">
                <div class="session_list_cal">
                    <div class="month">{{session.starts * 1000 | date:'MMM'}}</div>
                    <div class="day">{{session.starts * 1000 | date:'dd'}}</div>
                    <div class="year">{{session.starts * 1000 | date:'yyyy'}}</div>
                </div>
                <h2 class="session_list_title">{{session.title}}</h2>
                <div class="session_list_speaker">
                    <img ng-src="{{getImage(session.speaker_id)}}" err-src="img/avatar.png" alt="">
                    <div>{{session.speaker_name}}</div>
                    <p>{{session.starts * 1000 | date:'HH:mm'}} - {{session.ends * 1000 | date:'HH:mm'}}</p>
                </div>
                <i class="icon ion-ios-arrow-right"></i>
                <div class="clearfix"></div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
